* {
    outline: none;
    box-sizing: border-box;
}

body {
    background-image: repeating-linear-gradient(90deg, rgba(57, 153, 58, 0.5) 0px, rgba(57, 153, 58, 0.5) 10px, transparent 10px, transparent 20px), repeating-linear-gradient(0deg, rgba(57, 153, 58, 0.5) 0px, rgba(57, 153, 58, 0.5) 10px, transparent 10px, transparent 20px), linear-gradient(90deg, #ffffff, #ffffff);
    min-height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh 5vw;
}

.mobile-container {
    max-width: 350px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.734);
    border-radius: 3px;
    overflow: hidden;
}

img {
    /* height: 100px; */
    width: 100%;
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header input {
    border: none;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    background-color: #eee;

}

header button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.fav-container {
    text-align: center;
    padding: 1rem;
    background-color: rgb(252, 255, 220);
    height: 150px;
    /* width: max-content; */
}

.fav-meals {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
    overflow: auto;
    height: 350px;
    width: 100px;
    transform: rotateZ(90deg) translate(-130px, -100px);
}

#fav-meals::-webkit-scrollbar {
    /* height: 20px; */
    width: 0px;

}




.fav-meals li {
    transform: rotateZ(270deg);
    min-width: 80px;
    /* min-height: 100%; */
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    position: relative;
    justify-content: space-between;
}

.fav-meals li img {
    border-radius: 50%;
    object-fit: cover;
    height: 70px;
    width: 70px;
    border: 2px solid rgba(255, 255, 255, 0.645);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.248);
    margin: 0 auto;
}

.fav-meals li span {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fav-meals li .delete-fav {
    all: unset;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}

.fav-meals li:hover .delete-fav {
    visibility: visible;
}

.meals {
    padding: 1rem;
}

.meal {
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.248);
    border-radius: 3px;
    overflow: hidden;
}

.meal-header {
    position: relative;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: white;
    padding: 0.25rem 0.5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    all: unset;
    font-size: 1.2rem;
    color: rgb(202, 202, 202);
}

.meal-body .fav-btn.active {
    color: purple;
}

.meal-info-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.439);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meal-info-container.hidden {
    visibility: hidden;
}

.meal-info {
    background-color: #fff;
    border-radius: 5px;
    padding: 0 2rem;
    max-width: 600px;
    width: 100%;
    position: relative;
    /* height: fit-content; */
}

.meal-info h1 {
    text-align: center;

}

.meal-info .close-popup {
    all: unset;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 1.5rem;
}

.recipe-img {
    max-height: 300px;
    object-fit: cover;
}

.details-container {
    max-height: 300px;
    overflow: auto;
}

@media only screen and (min-width: 500px) {

    a,
    i,
    img,
    button {
        cursor: pointer;
    }
}

@media only screen and (max-width: 500px) {

    a,
    i,
    img,
    button {
        -webkit-tap-highlight-color: transparent;
    }
}