
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    height: 100vh;
    /* width: 100vw; */
}
main{
    max-width: 800px;
    height: 100%;
    background-color: rgba(16, 85, 140, 1);
    margin: 0 auto;
}
header{
    background-color: rgb(32, 32, 32);
    color: white;
    padding: 20px 70px 10px 20px;
    display: inline-block;
    margin: 100px auto 0 0;
    font-family: 'IBM Plex Serif', serif;
}
header p:nth-child(1){
    font-size: 30px;
    font-weight: 300;
}
header p:nth-child(2){
    font-weight: 200;
}
header p span{
    color:rgb(210, 153, 30);
}
nav{
    width: 150px;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
}
nav h3{
    margin: 20px;
}
nav a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: 20px auto;
    padding: 5px;
}
nav a:hover{
    background-color: rgb(35, 35, 99);
}
section{
    width: 70%;
    height: 60%;
    background-color: white;
    float: right;
    margin: 20px;
    padding: 20px;
    overflow: auto;
}
section::-webkit-scrollbar{
    display: none;
}
article h2{
    margin-bottom: 10px;
    color: rgb(67, 135, 190);
}
article ul{
    color: rgb(67, 135, 190);
    line-height: 30px;
    text-indent: 30px;
    list-style: none;
    margin-bottom: 100px;
}
article ul span{
    color:  rgb(35, 114, 179);
    font-weight: bold;
}
article p{
    margin: 10px 0;s
}
article ol{
    padding: 0 10px;
}
article ol a{
    text-decoration: none;
    color: rgb(43, 121, 78);

}
@media only screen and (max-width: 600px){
    section{
        width: 100%;
        margin: 20px 0;
    }
    nav{
        flex-direction: row;
        height: 50px;
        width: 100%;
        position: relative;
        align-items: baseline;
    }
    header{
        width: 100%;
        margin: 0;
        padding: 20px;
    }
}