/* Ordered List section with the items */
section {
    width: 350px;
    max-height: 60vh;
    overflow: scroll;
    border-left: 5px dashed green;
    box-shadow: 0 0 10px 1px rgb(143, 143, 143);
}

section::-webkit-scrollbar {
    width: 0;
}

h2 {
    font-family: 'Covered By Your Grace', cursive;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    cursor: default;
    position: sticky;
    top: 0;
    transform: translateY(-16px);
    z-index: 1;
    background-color: white;
}

.sortDiv {
    position: sticky;
    display: inline-block;
    color: green;
    font-size: 2rem;
}

ol {
    padding: 0;
}

.iconify[data-icon*="la:sort"] {
    cursor: pointer;
}

.iconify[data-icon*="la:sort"]:hover {
    background-color: rgb(238, 238, 238);
}

.listDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    list-style-type: decimal;
    position: relative;
    background-color: white;
}

.editIcon {
    color: green;
}

.editIcon2 {
    color: grey;
}

.editIcon:hover,
.editIcon2:hover {
    padding: 0;
    cursor: pointer;
}

/* main item text */
[data-text*=list] {
    flex: 1;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Sniglet', cursive;
    overflow: hidden;
    list-style-position: inside;
    white-space: nowrap;
    transition: all .3s ease;
}

.moreInfo {
    background-color: rgb(46, 130, 255);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 270px;
    border-radius: 10px;
    padding: 3px;
    clip-path: circle(4% at 93.5% 23%);
    right: 20px;
    top: 0;
    overflow-y: scroll;
    transition: clip-path 0.4s ease-in-out;
}

.moreInfo::-webkit-scrollbar {
    width: 0;
}

.moreInfo:hover {
    clip-path: circle(75%);
    background-color: rgb(110, 168, 255);
}

/* i (more info) */
.infoIcon {
    float: right;
    font-size: 0.8rem;
    color: white;
    transition: color .5s;
    font-weight: bold;
    margin-right: 14px;
    margin-top: -2px;
    font-style: italic;
    cursor: default;
    position: sticky;
}

.moreInfo:hover .infoIcon {
    color: rgba(255, 255, 255, 0);
}

.infoText {
    color: rgba(255, 255, 255, 0);
}

.moreInfo:hover .infoText {
    color: rgb(255, 255, 255);
    word-break: break-all;
}

.deleteMark {
    margin: auto 0;
    font-size: 1.5rem;
    padding: 2px;
    color: red;
    cursor: pointer;
    background: none;
}

.deleteMark:hover {
    padding: 0;
}


/* JS check completed item */
li.completed {
    text-decoration: line-through;
    color: lightgrey;
}