@import url("https://fonts.googleapis.com/css2?family=Mandali&family=Noto+Sans+SC:wght@100;300;400;500;700&family=Poppins:wght@100;200;300;400;500;600&family=Spartan:wght@300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1200px) {
  body {
    font-size: 0.7pc;
  }
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  body main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body main section {
  min-width: 55vw;
  aspect-ratio: 1.6 / 1;
  background: url("../images/desktop-image-hero-1.jpg") center center no-repeat;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-size: cover;
  position: relative;
  padding: 5vh 5vw;
}

@media (max-width: 500px) {
  body main section {
    height: 50vh;
  }
}

body main section nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 800px) {
  body main section nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body main section nav img {
  margin-top: 4px;
}

body main section nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  body main section nav ul {
    display: none;
  }
}

body main section nav ul li {
  list-style: none;
}

body main section nav ul li a {
  margin: 0 15px;
  color: white;
  font-family: "Poppins";
  text-decoration: none;
  position: relative;
}

body main section nav ul li a::after {
  content: '';
  width: 50%;
  height: 2px;
  margin-left: -50%;
  -webkit-transform: translateX(50%) scale(0);
          transform: translateX(50%) scale(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: white;
  position: absolute;
  bottom: -10px;
  left: 50%;
}

body main section nav ul li a:hover::after {
  -webkit-transform: translateX(50%) scale(1);
          transform: translateX(50%) scale(1);
}

body main section nav #hamburger-menu {
  display: none;
  position: absolute;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 800px) {
  body main section nav #hamburger-menu {
    display: block;
  }
}

body main section menu {
  position: fixed;
  z-index: 10;
  pointer-events: none;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.446);
  visibility: hidden;
}

body main section menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  position: absolute;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 0;
  padding-left: 5vw;
  width: 100%;
  height: 100px;
  pointer-events: all;
}

body main section menu div #mobile-menu {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body main section menu div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 400px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
}

body main section menu div ul li {
  list-style: none;
}

body main section menu div ul li a {
  margin: 0 15px;
  color: black;
  font-weight: 600;
  font-family: "Poppins";
  text-decoration: none;
  position: relative;
  margin: 0;
}

body main header {
  padding: 10vh 7vw;
  position: relative;
}

body main header h1 {
  font-family: "Spartan";
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 600;
  letter-spacing: -2px;
}

body main header p {
  font-family: "Poppins";
  color: darkgray;
}

body main header button {
  all: unset;
  font-family: "Spartan";
  letter-spacing: 0.6em;
  word-spacing: 0.6em;
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  padding: 20px 0;
}

body main header button:hover {
  -webkit-filter: invert(100%) grayscale(100%) saturate(100%) hue-rotate(0deg) brightness(50%) contrast(100%);
          filter: invert(100%) grayscale(100%) saturate(100%) hue-rotate(0deg) brightness(50%) contrast(100%);
}

body main header aside {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  left: 0;
  width: 160px;
}

@media (max-width: 800px) {
  body main header aside {
    left: auto;
    right: 0;
    top: -80px;
  }
}

@media (max-width: 500px) {
  body main header aside {
    width: 80px;
    top: -40px;
  }
}

body main header aside div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  place-items: center;
  width: 100%;
  height: 80px;
  background-color: black;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 500px) {
  body main header aside div {
    height: 40px;
    cursor: default;
  }
  body main header aside div img {
    height: 15px;
  }
}

body main header aside div:hover {
  background-color: grey;
}

body article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  height: 100%;
}

@media (max-width: 800px) {
  body article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body article img {
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}

@media (max-width: 1200px) {
  body article img {
    max-width: 30%;
  }
}

@media (max-width: 800px) {
  body article img {
    max-width: 100%;
  }
}

body article aside {
  font-family: "Poppins";
  padding: 5vh 5vw;
  padding-bottom: 10px;
}

body article aside h3 {
  letter-spacing: 0.3em;
}

body article aside p {
  font-family: "Poppins";
  color: darkgray;
}

.mobile-menu {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.image1 {
  background: url("../images/desktop-image-hero-2.jpg") center center no-repeat;
  background-size: cover;
  opacity: 0;
}

.image2 {
  background: url("../images/desktop-image-hero-3.jpg") center center no-repeat;
  background-size: cover;
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */